{% extends 'bases/citation_base.html' %}

{% block head_title %}CMIP7 Citation{% endblock %}

{% block content_main_inner %}
    <h2><b>{{ citation.title }} (v{{ citation.version }})</b></h2>
    {% if latest_version %}
    <div class="alert alert-warning">
        <b>This citation has been superseded. See the 
            <a href="{% url 'citations:citation' title=citation.title %}?version={{ latest_version }}">latest version</a>
        </b>
    </div>

    {% endif %}
    <p></p>
    <h3><b>General Information</b></h3>
    <p></p>
    <table class="table table-striped border border-light">
        <tr>
            <th>Name</th>
            <td>{{ citation.title }}</td>
        </tr>
        <tr>
            <th>Abstract</th>
            <td>{{ citation.abstract }}</td>
        </tr>
        <tr>
            <th>DRS URL</th>
            <td><a href="{{ citation.drs_url }}">{{citation.drs_url}}</a></td>
        </tr>
        <tr>
            <th>DOI URL</th>
            <td><a href="{{ citation.doi_url }}">{{citation.doi_url}}</a></td>
        </tr>
        <tr>
            <th>Rights</th>
            <td>{{ citation.rights }}</td>
        </tr>
        <tr>
            <th>License</th>
            <td>{{ citation.license }}</td>
        </tr>
    </table>
    <p></p>
    <h3><b>Model Documentation (EMD)</b></h3>
    <p></p>
    <table class="table table-striped border border-light">
        <tr>
            <th>MIP Era</th>
            <td>{{ citation.mip_era }}</td>
        </tr>
        <tr>
            <th>Activity</th>
            <td>{{ citation.activity_id }}</td>
        </tr>
        <tr>
            <th>Institution</th>
            <td>{{ citation.institution_id }}</td>
        </tr>
        <tr>
            <th>Source</th>
            <td>{{ citation.source_id }}</td>
        </tr>
        <tr>
            <th>Experiment</th>
            <td>{{ citation.experiment_id }}</td>
        </tr>
    </table>
    <p></p>
    <h3><b>Responsible Parties</b></h3>
    <table class="table table-striped border border-light">
    <tr>
        <th>Name</th>
        <th>Role</th>
    </tr>
    <tr>
        <td>
            <a href="{% url 'citations:party' pk=citation.primary.id %}">{{ citation.primary.first_name }} {{ citation.primary.last_name }}</a>
            {% if citation.primary.email %}
            ({{ citation.primary.email }})
            {% endif %}
        </td>
        <td>Primary</td>
    </tr>
    {% for contact in citation.contacts %}
    <tr>
        <td>
            <a href="{% url 'citations:party' pk=contact.id %}">{{ contact.first_name }} {{ contact.last_name }} </a>
            {% if contact.email %}
            ({{ contact.email }})
            {% endif %}
        </td>
        <td>Contact</td>
    </tr>
    {% endfor %}
    </table>

    <h3><b>Funding Streams</b></h3>
    <table class="table table-striped border border-light">
    <tr>
        <th>Stream Name</th>
        <th>Affiliation</th>
    </tr>
    {% for funder in citation.funders %}
    <tr>
        <td><a href="{% url 'citations:funding' pk=funder.id %}">{{ funder.name }}</a></td>
        <td>{{ funder.affiliation }}</td>
    </tr>
    {% endfor %}
    </table>

    <h3><b>Affiliated Institutions</b></h3>
    <table class="table table-striped border border-light">
    <tr>
        <th>Institution</th>
        <th>Country</th>
    </tr>
    {% for institute in citation.institutions %}
    <tr>
        <td><a href="{% url 'citations:institution' pk=institute.id %}">{{ institute.name }}</a></td>
        <td>{{ institute.country }}</td>
    </tr>
    {% endfor %}
    </table>

    <p></p>
    <div>
        {% if editable %}
        <a href="{% url 'citations:edit_citation' title=citation.title %}">
            <input class="btn btn-primary m-0" value="Edit Record">
        </a>
        {% else %}
        <a href="{% url 'citations:edit_citation' title=citation.title %}">
            <input class="btn btn-primary m-0" value="Edit Record" disabled title="Not editable">
        </a>
        {% endif %}

        {% if not latest_version %}
        <!-- if latest_version is defined then I must NOT be the latest version-->
        <a href="{% url 'citations:add_citation' %}?title={{ citation.title }}">
            <input class="btn btn-primary m-0" value="Create New Record">
        </a>
        {% else %}
        <a href="{% url 'citations:add_citation' %}?title={{ citation.title }}">
            <input class="btn btn-primary m-0" value="Create New Record" disabled title="Superseded">
        </a>
        {% endif %}
    </div>

{% endblock %}