{% extends 'bases/citation_base.html' %}

{% block head_title %}CMIP7 Citations{% endblock %}

{% block page_title %}
{% endblock %}

{% block content_main_inner %}

    {% block back_to_main %}
    {% endblock %}

    <div>
        <span class="v-centre w-100 mb-2">
            <h1>Citation Search</h1>
        </span>
    </div>
    <div class="row">
        <div class="col-md-12">
        <form style="overflow: hidden" method="GET" action="" >
            <div class="col-12 col-lg-8 offset-lg-2 px-xs-0">
                <span class="v-centre w-100 mb-2" id="search-wrapper">
                <div class="input-group input-group-lg mb-0">
                    <input class="form-control flex-grow-1" placeholder="Input search terms..." value="{{ search_term }}" type="search" name="search" id="id_q"> 
                    <input class="btn btn-primary m-0" type="submit" value="Search">
                </div>
                </span>
            </div>
            <input {% if all_versions%} checked {% endif %} type="checkbox" name="legacy_versions" value="yes" type="submit">Show All Versions</input>
        </form>
        </div>
    </div>
    <p></p>
    <div style="display: flex; justify-content: center; align-items: center">
        <table class="table table-striped border border-light">
            <tr>
                <th>Title</th>
                <th>Version</th>
                <th>Primary Contact</th>
            </tr>
            {% for citation in citations.object_list %}
            <tr>
                <th><a href="{% url 'citations:citation' title=citation.title %}?version={{ citation.version }}">{{ citation.title }}</a></th>
                <th>{{ citation.version }}</th>
                <th><a href="{% url 'citations:party' pk=citation.primary.id %}">{{ citation.primary.fullname }}</a></th>
            </tr>
            {% endfor %}
            {% if citations.has_next %}
            <tr id="load-more-row">
                <td colspan="3">
                    <button
                    {% if all_versions %}
                        hx-get="{% url 'citations:citations' %}?page={{ citations.next_page_number }}&legacy_versions=yes"
                    {% else %}
                        hx-get="{% url 'citations:citations' %}?page={{ citations.next_page_number }}"
                    {% endif %}
                        hx-target="#load-more-row"
                        hx-swap="outerHTML"
                    >
                        Load More (Showing {{ pagination }} out of {{ total_results }} results)
                    </button>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
    <div>
        <p>For information relating to reviewing citation information via the UI or API, see 
            <a href="https://github.com/cedadev/cmip7-citation-service/blob/main/docs/CitationReviewerGuide.pdf">the Citation Reviewer Guide</a></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

{% endblock %}