{% extends 'fwtheme_django/layout.html' %}

{% block head_title %}CMIP7 Citations{% endblock %}

{% block page_title %}
    <table class="table table-striped border border-light">
        <tr>
            <th>Title</th>
            <th>Version</th>
            <th>Primary Contact</th>
        </tr>
        {% for citation in citations %}
        <tr>
            <th><a href="{% url 'citations:citation' pk=citation.id %}">{{ citation.title }}</a></th>
            <th>{{ citation.version }}</th>
            <th><a href="{% url 'citations:party' pk=citation.primary.id %}">{{ citation.primary.fullname }}</a></th>
        </tr>
        {% endfor %}
    </table>

{% endblock %}