{% extends 'bases/citation_base.html' %}

{% block head_title %}CMIP7 Citation{% endblock %}

{% block content_main_inner %}

    <h1>Delete Citation Record</h1>

    <h3><b>Are you sure you want to delete this citation record?</b></h3>
    <br>
    <h4><b>Record ID: {{ citation.id }}</b></h4>

    <p><i>This action will not delete any connected Party, Institution or Funding Stream Records</i></p>
    <br>
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger btn-md" value="Continue">
        <a href="{% url 'citations:citation' title=citation.title %}">
            <input class="btn btn-primary m-0" value="Back to Citation Record">
        </a>
    </form>

{% endblock %}