{% extends 'bases/citation_base.html' %}

{% block head_title %}All Failed Requests{% endblock %}

{% block content_main_inner %}
    <h1>Failed Requests</h1>

    <table class="table table-striped border border-light">
        <tr>
            <th>ID</th>
            <th>Reason</th>
        </tr>
        {% for fail in failedrequests.object_list %}
        <tr>
            <td>{{ fail.id }}</a></td>
            <td>{{ fail.reason }}</td>
        </tr>
        {% endfor %}
        {% if failedrequests.has_next %}
        <tr id="load-more-row">
            <td></td>
            <td colspan="2">
                <button
                    hx-get="{% url 'citations:failed' %}?page={{ failedrequests.next_page_number }}"
                    hx-target="#load-more-row"
                    hx-swap="outerHTML"
                >
                    Load More (Showing {{ pagination }} out of {{ total_results }} results)
                </button>
            </td>
        </tr>
        {% endif %}
    </table>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
{% endblock %}