{% extends 'bases/citation_base.html' %}

{% block head_title %}CMIP7 Funding Stream{% endblock %}

{% block content_main_inner %}
    <h1><b>{{ stream.name }}</b></h1>
    <p></p>
    <h3><b>Institution: <a href="{% url 'citations:institution' pk=stream.affiliation_id %}">{{ stream.affiliation }}</a></b></h3>
    <p></p>
    
    {% if citations %}
    <h3><b>Citations</b></h3>
    <p><i>Citations directly provided via this Funding Stream.</i></p>
    <ul>
        {% for cite in citations %}
        <li><a href="{% url 'citations:citation' title=cite %}">{{ cite }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    

{% endblock %}