{% extends 'bases/citation_base.html' %}

{% block head_title %}CMIP7 Institutions{% endblock %}

{% block page_title %}
{% endblock %}

{% block content_main_inner %}

    <div>
        <span class="v-centre w-100 mb-2">
            <h1>Institution Search</h1>
        </span>
    </div>
    <div class="row">
        <div class="col-md-12">
        <form style="overflow: hidden" method="GET" action="" >
            <div class="col-12 col-lg-8 offset-lg-2 px-xs-0">
                <span class="v-centre w-100 mb-2" id="search-wrapper">
                <div class="input-group input-group-lg mb-0">
                    <input class="form-control flex-grow-1" placeholder="Input search terms..." value="{{ search_term }}" type="search" name="search" id="id_q"> 
                    <input class="btn btn-primary m-0" type="submit" value="Search">
                </div>
                </span>
            </div>
        </form>
        </div>
    </div>
    <p></p>
    <div style="display: flex; justify-content: center; align-items: center">
        <table class="table table-striped border border-light">
            <tr>
                <th>Name</th>
                <th>Acronym</th>
                <th>Country</th>
            </tr>
            {% for institute in institutions.object_list %}
            <tr>
                <th><a href="{% url 'citations:institution' pk=institute.id %}">{{ institute.name }}</a></th>
                <th>{{ institute.acronym }}</th>
                <th>{{ institute.country }}</th>
            </tr>
            {% endfor %}
            {% if institutions.has_next %}
            <tr id="load-more-row">
                <td colspan="3">
                    <button
                        hx-get="{% url 'citations:institutions' %}?{{ query_next }}"
                        hx-target="#load-more-row"
                        hx-swap="outerHTML"
                    >
                        Load More (Showing {{ pagination }} out of {{ total_results }} results)
                    </button>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

{% endblock %}