{% extends 'bases/citation_base.html' %}

{% block head_title %}CMIP7 Registered Institutions{% endblock %}

{% block content_main_inner %}
    <h1><b>{{ institute.name }} ({{ institute.acronym }})</b></h1>
    {% if institute.country %}
        <h3>Country: {{ institute.country }}</h3>
    {% endif %}

    <p></p>

    {% if funding_contribs %}
    <h3><b>Funding Stream Associations</b></h3>
    <p><i>Funding streams directly associated with this institution.</i></p>
    <ul>
        {% for fund in funding_contribs %}
        <li><a href="{% url 'citations:funding' pk=fund.pk %}">{{ fund.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <p></p>

    {% if citations %}
    <h3><b>Citations</b></h3>
    <p><i>Citations directly provided by this institution.</i></p>
    <ul>
        {% for cite in citations %}
        <li><a href="{% url 'citations:citation' title=cite %}">{{ cite }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}