# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'django-insecure-3hqjq^nibjz5-ly0y13h_mecm2wv0p8dtk%bksgh07km)syfw$'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

ALLOWED_HOSTS = ["*"]

STATIC_ROOT = 'static'

AUTHENTICATION_BACKENDS = [
    'django.contrib.auth.backends.ModelBackend',
    'allauth.account.auth_backends.AuthenticationBackend',
]

HEALTHPROBE = 'healthcheck'

# Essential Model Docs
EMD_GITHUB=""
EMD_REPO = ""

# Control Vocabs
CV_REPO = ""
CV_GITHUB = ""
CORDEX_CV_REPO = ""
CORDEX_CV_GITHUB = ""


INSTITUTION_MAPPINGS_URL = ""
USE_CEDA_BRANDING = True

CONSUMER_CONFIG = None
CONSUMER_TOPICS = None
CONSUMER_TIMEOUT = None
QUEUE_AWAIT_TIMEOUT = None

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

SLACK_OAUTH_TOKEN=''
SLACK_ESGF_CHANNEL=''

SERVICE_URL=''

DATACITE_API_URL  = ''
DATACITE_USERNAME = ""
DATACITE_PASSWORD = ""
DOI_PREFIX = ""
PUBLISHER = ""

STAC_API=''

METAGRID_URL = ''

SOCIALACCOUNT_PROVIDERS = {
    "github":{
        "APP": {
          "client_id": "",
          "secret": ""
        }
    }
}

# Proceed directly to login without options
SOCIALACCOUNT_LOGIN_ON_GET = True