{% for citation in citations.object_list %}
<tr>
    <th><a href="{% url 'citations:citation' title=citation.title %}?version={{ citation.version }}">{{ citation.title }}</a></th>
    <th>{{ citation.version }}</th>
    <th><a href="{% url 'citations:party' pk=citation.primary.id %}">{{ citation.primary.fullname }}</a></th>
</tr>
{% endfor %}
{% if citations.has_next %}
<tr id="load-more-row">
    <td colspan="2">
        <button
            hx-get="{% url 'citations:citations' %}?{{ query_next }}"
            hx-target="#load-more-row"
            hx-swap="outerHTML"
        >
            Load More (Showing {{ pagination }} out of {{ total_results }} results)
        </button>
    </td>
</tr>
{% endif %}