{% extends template_base %}

{% block cookielaw_banner %}
{% endblock %}

{% block content_main %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success">
            {% elif message.tags == 'error' %}
                <div class="alert alert-warning">
            {% endif %}
                    <ul class="messages">
                        <li>{{ message }}</li>
                    </ul>
                </div>
        {% endfor %}
    {% endif %}

    {% block content_main_inner %}
    {% endblock %}

    {% block back_to_main %}
        <br>
        <br>
        <a href="{% url 'citations:citations' %}">
                <input class="btn btn-primary m-0" value="← Back to Citations" type="button">
        </a>

    {% endblock %}

{% endblock %}

{% block navbar_options %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'citations:citations' %}">Citations</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'citations:parties' %}">Parties</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'citations:institutions' %}">Institutions</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'citations:funders' %}">Funding</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'citations:add_citation' %}">Add Citation</a>
</li>

{% endblock navbar_options %}

{% block user_status %}
<div class="dropdown">
{% if user.username %}
    <a href=""><i class="fa fa-user fa-fw"></i>{{ user.username }}</a>
{% else %}
    <a href="/accounts/login"><i class="fa fa-fw fa-sign-in-alt"></i> Reviewer Sign in</a> <!-- sign in -->
{% endif %}
</div>

{% endblock user_status %}

{% block footer %}
    <footer>
      <div class="container">
          <div class="row d-flex justify-content-around border border-light border-bottom-0 border-left-0 border-right-0 pt-5 pb-2 mt-5">
            <div class="col-md-4">
                <p class="text-center small">
                    Copyright © 2026 <a href="https://www.stfc.ac.uk">STFC</a>
                    All Rights Reserved<br>
                    <a href="https://help.ceda.ac.uk/article/4641-accessibility" target="_blank">Accessibility</a> |
                    <a href="https://help.ceda.ac.uk/article/4642-disclaimer" target="_blank">Disclaimer</a> |
                    <a href="https://help.ceda.ac.uk/article/4639-privacy-and-cookies" target="_blank">Privacy and Cookies</a><br/>
                    <a href="https://www.ceda.ac.uk" target="_blank">CEDA</a>
                </p>
            </div>
          </div>
        </div>
      </footer>
      {% endblock footer %}